p {
    border: 1px dashed black;
    text-align: center;
    padding: 5px;
    background: white;
}

div {
    padding: 30px 8px 70px 25px;
    border-style: solid;
    border-color: blueviolet;
    border-width: 20px 9px;
    background-color: gold;
        
}